.atas {
    width: 1500px;
    height: 300px;
    background-color: lightgreen;
    margin: auto;
}

.row{
   
    width: 1500px;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.column{
    height: 300px;
   
}

.kuning{
    width: 300px;
    float: left;
    background-color: yellow;
}

.merah {
    width: 1100px;
    float: right;
    background-color: orangered;
}

.row2 { 
    
    width: 1500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.column2 {
    height: 300px;
   
}

.kuning2 {
    width: 300px;
    float: left;
    background-color: yellow;
}

.biru {
    width: 1100px;
    float: right;
    background-color:rgb(86, 86, 233);
}