.row{
   
    width: 1500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.column{
    
    height: 300px;
   
}

.kuning{
    width: 300px;
    float: left;
    background-color: yellow;
}

.merah {
    width: 1100px;
    float: right;
    background-color: orangered;
}

.row2 {
    
    width: 1500px;
    height: 600px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    
    height: 600px;
    float: left;
    
}

.abu {
    background-color:grey;
    width: 730px;
    margin-inline-start: 96px;
    
}
.hijau {
    background-color: green;
    width: 300px;
    float: left;
}
.birumuda {
    background-color: lightskyblue;
    width: 300px;
    float: right;
}

.bawah {
    margin-top: 40px;
    
width: 1500px;
height: 300px;
margin-left: auto;
margin-right: auto;
}
    
       
.column3{
    width: 1500px;
    height: 300px;
    background-color: rgb(51, 51, 214);
    margin: auto;
}